body{
    display: flex;
    background-color: rgb(178, 39, 62);
    justify-content:center;
    text-align: center;
    width: 60%;
    margin-top: 50px;
}
input{
    width: 500px;
    height: 50px;
    font-size: larger;
    text-align: center;
    border: 2px brown dashed;
    color: black;
    
}
.calculator{
    width: 50%;
    /* background-color: rgba(169, 169, 169,0.3); */
    height: 70px;

}
.buttons button{
   margin: 4% 2%;
   background-color: rgb(243, 236, 243);
   color: rgb(16, 15, 15);
   font-size: 22px;
   width: 90px;
   height: 50px;
   
   
}